<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
</head>
<body>
    <form action="">
        <div>
            <input type="tel" name="phone" id="phone" placeholder="Enter phone number" required>
            <button type="button" id="send-otp-btn">send otp</button>
        </div>
        <input type="text" name="otp" id="otp" placeholder="Enter otp">

        <button type="button" id="check-otp">submit</button>
    </form>
</body>
</html>